.menu {
  display: flex;
  gap: 53px;
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-transform: capitalize;

    color: #d94343;
    transition: all 0.4s;
    &:hover {
      color: #0a0a0a;
    }
  }
}
