.hero {
  background-image: url(../../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 544px;
  margin-bottom: 73px;

  &__h2 {
    display: inline-block;
    margin-top: 167px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */

    letter-spacing: 0.5em;
    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 45px;
  }
  &__info {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 60px;
    /* identical to box height, or 109% */

    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 45px;
  }
  &__second-info {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */

    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 66px;
  }
  &__link {
    border: 1px solid white;
    padding: 21px 56px;
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-transform: uppercase;
    transition: all 0.5s;

    color: #ffffff;
    &:hover {
      background-color: rgb(50, 75, 75);
    }
  }
}

.cotigories {
  margin-bottom: 73px;

  padding: 0;

  &__box {
    height: 626px;
    padding: 0;
  }
  &__h3 {
    margin: 0;

    padding: 28px;
    text-align: center;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    text-transform: capitalize;

    color: #333333;

    &::before {
      position: absolute;
      top: auto;
      bottom: 20px;
      left: 46%;

      width: 115px;
      height: 3px;
      background-color: #dc0000;
      content: "";
    }
    &::after {
      position: absolute;
      top: auto;
      bottom: -80px;

      left: 46%;

      width: 115px;
      height: 3px;
      background-color: #dc0000;
      content: "";
    }
  }
  &__menu {
    margin-top: 70px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 350px;
    height: 419px;
  }
  .men {
    background-image: url(../../img/men.jpg);
  }
  .woomen {
    background-image: url(../../img/woomen.jpg);
  }
  .whatch {
    background-image: url(../../img/whatch.jpg);
  }

  &__link {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    text-transform: capitalize;

    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      color: rgb(1, 90, 255);
    }
  }
}

.blog {
  height: 774px;
  margin-bottom: 77px;

  &__h3 {
    margin: 0;
    padding: 28px;
    text-align: center;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    text-transform: capitalize;

    color: #333333;
    margin-bottom: 57px;

    &::before {
      position: absolute;
      top: 1400px;
      bottom: 20px;
      left: 46%;

      width: 115px;
      height: 3px;
      background-color: #dc0000;
      content: "";
    }
    &::after {
      position: absolute;
      top: 1495px;
      bottom: -100px;

      left: 46%;

      width: 115px;
      height: 3px;
      background-color: #dc0000;
      content: "";
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .blog__menu {
    padding: 0;
    width: 540px;
    height: 605px;
  }
  &__list {
    list-style: none;
  }
  &__title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;

    color: #dc0000;
  }
  &__athotor {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-transform: capitalize;

    color: #333333;
    margin-bottom: 14px;
  }
  &__pharagraph {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    margin-top: 15px;

    color: #9a9a9a;
    margin-bottom: 20px;
  }
  &__link {
    padding: 4px 25px;
    text-decoration: none;
    border: 1px solid black;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-transform: uppercase;

    color: #333333;
    transition: all 0.5s;
    &:hover {
      background-color: #dc0000;
      color: wheat;
    }
  }
}
h4 p {
  display: inline;
  margin: 0 10px;
}
